.app-container {
  --side-nav-width: 255px;
  background: transparent;
  &.sidenav-closed {
    --side-nav-width: 65px;
    .side-nav {
      span {
        opacity: 0;
        transition: 1.5s;
      }
    }
  }
  .side-nav {
    transition: 0.3s;
    z-index: 9;
  }
  .app-content {
    height: 100vh;
    width: 100%;
    padding-top: 4rem;
    padding-left: var(--side-nav-width);
    transition: 0.3s;
    .ant-layout-content {
      overflow: auto;
      height: 100%;
      .inner-scroll {
        height: 100%;
        overflow: auto;
        .ant-card {
          height: 100%;
          margin: 0;
          .ant-card-body {
            height: 100%;
            display: flex;
            flex-direction: column;
            .table-responsive {
              flex: 1;
              overflow: auto;
              .ant-table-wrapper {
                height: 100%;
                .ant-spin-nested-loading {
                  height: 100%;
                  .ant-spin-container {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    .ant-table {
                      flex: 1;
                      overflow: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .app-container {
    .app-content {
      padding-top: 44px;
      padding-left: 0;
      padding-right: 0 !important;
    }
  }
}
